*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Agency FB";
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    background-image: url('img/stars.jpg');
}

#canvas_pos{
    width: 100%;
}

#canvas_pos #canvas{
    padding: 0;
    margin: auto;
    margin-left: 70px;
    margin-top: 60px;
    display: inline-block;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

#toolbar{
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    top: 0;
    background-color: transparent;
    color: white;
}

#title{
    float: left;
    margin-left: 100px;
    font-size: 60px;
    font-family: 'Alfa Slab One';
}

.circle{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    transition: .2s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

.triangle{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    transition: .2s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

.square{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    transition: .2s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

.circle.c_down{
    opacity: 1;
    border: 2px solid grey;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.triangle.t_down{
    opacity: 1;
    border: 2px solid grey;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.square.s_down{
    opacity: 1;
    border: 2px solid grey;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.radcontrol{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: transparent;
    display: inline-block;
    border-radius: 15px;
    border: 2px solid white;
    text-align: center;
    padding: 5px;
    transition: .5s ease;
    backface-visibility: hidden;
}

#rad{
    float: right;
    margin-right: 30px;
}

#incrad:hover{
    opacity: 1;
    background-color: #818181;
}

#decrad:hover{
    opacity: 1;
    background-color: #818181;
}

#colors{
    float: right;
}

.swatch{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
    transition: .2s ease;
    backface-visibility: hidden;
}

.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.eraser{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    border-radius: 15px;
    transition: .2s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

.eraser.down{
    opacity: 1;
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#undo{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    transition: .2s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

#redo{
    margin-top: 15px;
    float: right;
    margin-right: 20px;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    transition: .2s ease;
    backface-visibility: hidden;
    background-color: transparent; 
}

#undo:hover{
    opacity: 1;
    background-color: #818181;
}

#redo:hover{
    opacity: 1;
    background-color: #818181;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

.custom-file-upload {
    margin-top: 15px;
    float: right;
    margin-right: 30px;
    height: 50px;
    width: 70px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 30px;
    padding: 8px;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

.custom-file-upload:hover{
    opacity: 1;
    background-color: #818181;
}

input[type="file"] {
    display: none;
}

#save{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    width: 70px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 30px;
    padding: 8px;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: transparent;
}

#save:hover{
    opacity: 1;
    background-color: #818181;
}

#clear{
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    height: 50px;
    width: 70px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid white;
    padding: 8px;
    background-color: transparent;
    transition: .5s ease;
    backface-visibility: hidden;
}

#clear:hover{
    opacity: 1;
    background-color: #818181;
}

#canvas_pos #text{
    color: white;
    max-width: 300px;
    display: inline-block;
    margin-left: 90px;
    margin-top: 100px;
}

#canvas_pos #text #header{
    font-size: 40px;
}

::placeholder{
    color: white;
    opacity: 1;
}

#canvas_pos #text{
    position: absolute;
}

#canvas_pos #textinput{
    position: absolute;
    margin-top: 270px;
    margin-left: 90px;
}

#text input[type="text"]{
    font-size: 24px;
    margin-top: 10px;
    padding: 7px 13px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white
}

input[type="range"]{
    -webkit-appearance: none;
    margin-bottom: 20px;
    border-radius:2px;
    width:200px;
    height:3px;
    background-image:-webkit-linear-gradient(left ,powderblue);
    box-shadow:inset powderblue 0 0 5px;
    outline : none;
    transition:.1s;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background:skyblue;
    border-radius:50%;
    transition:.1s;
}
  
input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active{
    width:16px;
    height:16px;
}

#textinput{
    margin-top: 10px;
    height: 40px;
    width: 80px;
    font-size:20px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: transparent;
    transition: .5s ease;
    backface-visibility: hidden;
    color: white;
}

#textinput:hover{
    opacity: 1;
    background-color: #818181;
}